@media (max-width: 400px) {
  .abstract {
    font-size:18px;
  }
}

html, body {
  height: 100%;
  }
  
header {
    margin-bottom:            52px;
  }

h1.slogan {
  color:                  $roth_red;
  font-weight:            bold;
  padding-top:            20px;
}

  
.abstract {
  color:                  #333;
  font-weight:            bold;
}

.jumbotron {
	background:#fff;
	padding-bottom:0;
	margin-bottom: 		  45px;
}
  
.jumbotron .row {
  background-image:       url('../img/jumbotron/7.jpg');
  background-repeat:      no-repeat;
  background-size:  	  cover;
  height:                 400px;
  @include boxShadow();
  h1 {
	  @include textShadow();
	  margin-bottom: 50px;  
  }
}

.main-container {
  background-color:         white;
//  border:                   1px solid #CCC;
//  margin-top:               -75px;
  position:                 relative;
  padding-left: 			0;
  padding-right:			0;
  z-index:                  10;
  .row {
	  margin-left: 			0;
	  margin-right: 		0;
  }
}

.numbereddl {
  dt > span {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
  }
  
  dt > span + span {
    display: inline-block;
    font-size: 1em;
    vertical-align: middle;
  }
  
  dd {
    margin-left: 20px;
  }
}
.sitemap {
  ul {
    a {
      color:                $roth_red;

    }

    li:first-child {
      font-size:            1.25em;
      font-weight:          bold;
      margin-bottom:        10px;      
    }
    
    li {
      margin-bottom:        5px;
    }
    
    ul li:first-child {
      font-size:            1.1em;
      font-weight:          bold;
      margin-bottom:        10px;      
    }
  }
}

table.formula {
  border-collapse:          separate;
  border-spacing:           10px;
  margin:                   0px auto;
  font-style:               italic;

  tr + tr > td {
    border-top:             1px solid black;
  }

  td {
    text-align:             center;
  }
}

footer {
	margin-top:15px;
}

.row {
	.col-md-12,.col-md-6 {
		margin-bottom: 15px;
	}
}